.education {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 150px; /* Increase gap between panels */
    padding: 20px;
    width: 80%;
    height: auto; /* Adjust height to auto to fit the content */
  }
  
  .degree {
    background: rgba(255, 255, 255, 0.3);
    padding: 60px; /* Increase padding for larger panels */
    border-radius: 20px;
    color: #333;
    transition: transform 0.3s, background 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    animation: fadeIn 1s ease-in-out; /* Add fade-in animation */
  }
  
  .degree:hover {
    transform: translateY(-10px);
    background: rgba(255, 255, 255, 0.5);
  }
  
  .degree h2 {
    margin-bottom: 15px;
    font-size: 1.5em;
  }
  
  .degree p {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .degree span {
    font-style: italic;
  }
  
  /* Keyframes for fade-in animation */
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 1200px) {
    .education {
      grid-template-columns: 1fr;
    }
  }
  